- name: "show ansible config"
  ansible.builtin.debug:
    msg:
      - "os distribution    : {{ ansible_distribution }}"
      - "dotfiles_dir       : {{ dotfiles_dir }}"
      - "inventory hostname : {{ inventory_hostname }}"
      - "hostname           : {{ ansible_hostname }}"
      - "ansible python     : {{ ansible_playbook_python }}"
      - "ansible version    : {{ ansible_version['full'] }}"
      # - "ansible facts      : {{ ansible_facts }}"

- name: Create dirs
  ansible.builtin.file:
    path: '~/{{ item }}'
    state: directory
  loop: "{{ base_directory_structure }}"

- name: Create symlinks in home ~
  ignore_errors: true
  ansible.builtin.file:
    src: "{{ dotfiles_dir }}/{{ item }}"
    dest: "~/{{ item }}"
    state: link
    follow: no
    force: false
  loop: "{{ dotfiles }}"

- name: Create symlinks in ~/.config
  ignore_errors: true
  ansible.builtin.file:
    src: "{{ dotfiles_dir }}/{{ item }}"
    dest: "~/.config/{{ item }}"
    state: link
    follow: no
    force: true
  loop: "{{ dotfiles }}"
