# .aliases

# profile
alias vbp='vi ~/.bash_profile'
alias vz='vi ~/.zshrc'
alias reloadb='. ~/.bash_profile'
alias reloadz='. ~/.zshrc'

# 
alias grep='grep --color'
alias dt='date +%Y%m%dT%H%M%S%z'
alias jobs='jobs -l'
alias h='history'
alias hg='history | grep'
alias lla='ls -la'
alias lltr='ls -ltr'
alias lltrt='ls -ltr|tail'
alias lld='ls -ld */'
alias less='less -I'
alias llast='less $(ls -1rt|tail -n1)'
alias env='env|sort'
alias rm='rm -i'
alias path='echo -e ${PATH//:/\\n}'

# python
alias ccn='conda create --name'
alias cea='conda activate'
alias ced='conda deactivate'
alias cie='conda info --envs'
alias cl='conda list'
alias ipython='ipython --TerminalInteractiveShell.editing_mode=vi --colors="Linux"'
alias jupyter-lab='jupyter-lab --ip=localhost'

# git
alias gita='git add'
alias gitb='git branch'
alias gitc='git commit'
alias gitpo='git push origin'
alias gits='git status'
alias gitss='git status --short'
alias gitch='git checkout'
alias giturl='git config --get remote.origin.url'
alias gitpristine='git reset --hard && git clean -dfx'

# docker
alias di='docker image'
alias dc='docker container'
alias ds='docker service'
alias dinfo='docker info'

# bat - https://github.com/sharkdp/bat
alias b='bat -p'
alias bat='bat -p'
alias batn='bat -n'

# hadoop
alias yal='yarn application -list'
alias yas='yarn application -status'
alias hls='hadoop fs -ls'
alias hput='hadoop fs -put'
alias hget='hadoop fs -get'
alias hcp='hadoop fs -cp'
alias hcat='hadoop fs -cat'
alias hrm='hadoop fs -rm'
alias htail='hadoop fs -tail'
alias hmkdir='hadoop fs -mkdir'
alias hchmod='hadoop fs -chmod'
alias hgetfacl='hadoop fs -getfacl'
alias hdf='hadoop fs -df'
alias hdu='hadoop fs -du'
alias hmv='hadoop fs -mv'

# end
