# .aliases

# profile
alias vb='vi ~/.bashrc'
alias vbp='vi ~/.bash_profile'
alias vz='vi ~/.zshrc'
alias reload="exec $SHELL -l"

# list stuff
alias ls='ls --color'
alias l='ls -lFh'
alias ltr='ls -lFhtr'
alias ltrt='ls -lFhtr | tail'
alias la='ls -lAFh'
alias ld='ls -ldh */'

# misc
alias grep='grep --color'
alias ag='alias | grep'
alias env='env | sort | grep -v ^__'
alias eg='env | sort | grep'
alias hg='history | grep'
alias h='history'
alias dns-flush='resolvectl flush-caches'
alias dns-stats='resolvectl statistics'
alias dt='date +%Y-%m-%dT%H:%M:%S.%3N%z' # iso 8601-compliant/platform agnostic
alias dtu='echo -e "local : $(date +%Y-%m-%dT%H:%M:%S.%3N%z)\nutc   : $(date -u +%Y-%m-%dT%H:%M:%S.%3N%z)"' # show current and utc timestamps
alias dud1='du -h -d 1 . 2>/dev/null | sort --human-numeric-sort'
alias jobs='jobs -l'
alias less='less -I'
alias llast='less $(ls -1rt|tail -n1)'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias rc='echo $?'
alias mem='free -m -t'
alias path='echo -e ${PATH//:/\\n}'
alias dmesg='dmesg --color --ctime'
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias clear='clear -x' # Clear the screen but keep the terminal's scrollback buffer

# network
alias port='netstat -tulanp'
#sudo systemd-resolve --statistics # view dns cache information (debian)
#sudo systemd-resolve --flush-caches # flush dns cache

# terraform
alias tf='terraform'
alias tfa='terraform apply'
alias tfo='terraform output'
alias tfd='terraform destroy'

# shortcuts
alias cmt='cd $HOME/tmp'
alias cst='cd /tmp'
alias ..='cd ..'
alias ...='cd ../..'

# platform-agnostic clipboard copy/paste
if [ $(uname -s) = 'Linux' ]; then
    alias cbc='xclip -selection clipboard'
    alias cbp='xclip -selection clipboard -o'
elif [ $(uname -s) = 'Darwin' ]; then
    alias cbc='pbcopy'
    alias cbp='pbpaste'
fi

# vs code
if [ $(uname -s) = 'Linux' ]; then
    alias code="flatpak run com.visualstudio.code"
fi

# for when tree is not installed
alias treea="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"
alias treed="find . -type d -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# python
alias ccn='conda create --name'
alias cea='conda activate'
alias ced='conda deactivate'
alias cie='conda info --envs'
alias cl='conda list'
alias ci='conda install'
alias crn='conda remove --force --all --yes --name'
alias ipython='ipython --TerminalInteractiveShell.editing_mode=vi --colors="Linux"'
alias jupyter-lab='jupyter-lab --ip=localhost'

# git
alias ga='git add'
alias gb='git branch'
alias gco='git checkout'
alias gc='git commit'
alias gcm='git commit -m'
alias gcf='git config --list'
alias gcl='git clone --recurse-submodules'
alias gig='git config --global core.excludesFile' # global .gitinore
alias gd='git diff'
alias gdc='git diff --cached'
alias gdcw='git diff --cached --word-diff'
alias gds='git diff --staged'
alias gpl='git pull'
alias gplo='git pull origin'
alias gps='git push'
alias gpsup='git push --set-upstream origin $(git_current_branch)'
alias gpso='git push origin'
alias gpristine='git reset --hard && git clean -dfx'
alias grv='git remote -v'
alias gs='git status'
alias gss='git status --short'
alias gst='git stash'
alias gstall='git stash --all'
alias gsw='git switch'
alias gsc='git switch -c'

# docker
alias di='docker image'
alias dc='docker container'
alias ds='docker service'
alias dinfo='docker info'
alias sdi='sudo docker image'
alias sdc='sudo docker container'

# podman
alias pi='podman image'
alias pc='podman container'

# aws
alias aws='podman run --rm -it amazon/aws-cli'
# aws cli / non-interactive
# alias aws='podman run --rm -it --volume ~/.aws:/root/.aws amazon/aws-cli'
# aws cli / interactive
alias awsint='sudo podman run --rm -it -v ~/.aws:/root/.aws amazon/aws-cli --cli-auto-prompt'

# k8s
alias k='kubectl'
alias kd='kubectl describe'
alias kdel='kubectl delete'
alias kg='kubectl get'
alias kgp='kubectl get pods'
alias kl='kubectl logs'
alias klf='kubectl logs -f' # follow
alias ks='kubectl stop'

# bat - https://github.com/sharkdp/bat
alias b='bat --style=plain'                 # plain, no line numbers
alias bp='bat --style=plain --paging=never' # plain, no line numbers, no paging
alias bn='bat --number'                     # show line numbers
alias bnp='bat --number --paging=never'     # show line numbers, no paging

# pyenv
alias pyei='pyenv install'  # install python version e.g. 3.10.1
alias pyev='pyenv versions' # list python versions
alias pyeg='pyenv global'   # select globally for your user account
alias pyel='pyenv local'    # automatically select whenever you are in the current directory (or its subdirectories)
alias pyes='pyenv shell'    # select just for current shell session

# start spark shell
alias start_ps='spark_version=3.1.2 && hadoop_version=3.2 && install_dir=~/tools && export SPARK_HOME=${install_dir}/spark-${spark_version}-bin-hadoop${hadoop_version} && $SPARK_HOME/bin/pyspark' # pyspark shell
alias start_ss='spark_version=3.1.2 && hadoop_version=3.2 && install_dir=~/tools && export SPARK_HOME=${install_dir}/spark-${spark_version}-bin-hadoop${hadoop_version} && $SPARK_HOME/bin/spark-shell' # spark (scala) shell
