# .exports

export HISTSIZE=50000000
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
export HISTTIMEFORMAT="%F %T %t"
export STARSHIP_CONFIG=$HOME/.starship.toml
export XDG_CONFIG_HOME=$HOME/.config
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)

# system type
if [ $(uname -s) = 'Darwin' ]; then
    export LSCOLORS="Gxfxcxdxbxegedabagacad"
    export SYSTEM_TYPE="macOS"
elif [ $(uname -s) = 'Linux' ] && [ -f /etc/debian_version ]; then
    export SYSTEM_TYPE="Linux (Debian)"
elif [ $(uname -s) = 'Linux' ] && [ -f /etc/redhat-release ]; then
    export SYSTEM_TYPE="Linux (RedHat)"
fi
export SYSTEM_TYPE

export EDITOR="vim"
export PATH="$HOME/.local/bin:$PATH"

# end
