#
# look and feel
#
#theme = "wombat"
#theme = "Monokai Remastered"
#theme = "Kolorit"
#theme = "JetBrains Darcula"
#theme = "iTerm2 Pastel Dark Background"
#theme = "Monokai Pro"
theme = "xcodedark"

#
# A value of 1 is fully opaque and a value of 0 is fully transparent
background-opacity = 0.95
background-blur-radius = 20

#
# font
# ghostty +list-fonts
#
#font-family = "Symbols Nerd Font Mono"
#font-family = "MonoLisa Variable"
#font-family = "Iosevka"
#font-family = "Cartograph CF"
#font-family = "MesloLGS NF"
font-family = "MesloLGS NF"
font-size = 16
font-thicken = true

#
# misc
#
#copy-on-select = true
copy-on-select = clipboard
cursor-style = block
desktop-notifications = true
scrollback-limit = 100000000
# example notification
#echo -e "\033]9;your notification message\007"
keybind = shift+enter=text:\x1b\r
