---
dotfiles:
- .aliases
- .ansible.cfg
- .bash_profile
- .bashrc
- .exports
# - .gitconfig
- .gitignore.global
- .functions
- .inputrc
- .misc
- .sqliterc
- .starship.toml
- .vimrc
- .zshrc

base_directory_structure:
- .cache
- .config
- .config/ghostty
- .hammerspoon
- .local/bin
- .local/lib
- .local/share/fonts
- .zsh
- code/git
- code/python
- code/sql
- tmp
- tools

homebrew_packages:
- bat
- duckdb
- duf             # https://github.com/muesli/duf
- fastfetch
- fd
- gh              # https://cli.github.com
- jq
- fzf             # https://github.com/junegunn/fzf
# - hugo
- just
# - pipx
- pre-commit
- podman          # https://podman.io/docs/installation
- podman-compose  # https://podman.io/docs/installation
- ripgrep
- powerlevel10k   # https://github.com/romkatv/powerlevel10k
# - starship
- tealdeer        # https://github.com/tealdeer-rs/tealdeer
- tree
- uv
- wget

homebrew_cask_packages:
# - bruno           # https://github.com/usebruno/bruno
# - dbeaver-community
# - duckduckgo
# - firefox
- ghostty
- hammerspoon      # https://github.com/Hammerspoon/hammerspoon
- netnewswire
# - intellij-idea-ce
# - iterm2
# - pycharm
- rectangle
- visual-studio-code
# - zen             # https://zen-browser.app/

macos_defaults:
# Makes the cpu history monitor the default
- { domain: com.apple.activitymonitor, key: IconType, type: int, value: 6, state: present }
- { domain: com.apple.dock, key: show-recents, type: bool, value: false, state: present }
- { domain: com.apple.dock, key: tilesize, type: float, value: 48, state: present }
- { domain: com.apple.finder, key: FXDefaultSearchScope, type: string, value: SCcf, state: present }
- { domain: com.apple.menuextra.clock, key: DateFormat, type: string, value: "\"EEE HH:mm:ss\"", state: present }
- { domain: com.microsoft.VSCode, key: ApplePressAndHoldEnabled, type: bool, value: false, state: present }
- { domain: NSGlobalDomain, key: ApplePressAndHoldEnabled, type: bool, value: false, state: present }
- { domain: NSGlobalDomain, key: AppleShowAllExtensions, type: bool, value: true, state: present }

apt_packages:
- bat              # https://github.com/sharkdp/bat
- curl
- dconf-editor
- duf              # https://github.com/muesli/duf
- fd-find          # https://github.com/sharkdp/fd
- flatpak
- fzf              # https://github.com/junegunn/fzf (use apt-cache show fzf for info on how to fully enable)
- jq
- gh               # github cli
- git
- gnome-screenshot # https://gitlab.gnome.org/GNOME/gnome-screenshot
- gnome-tweaks
# - neofetch       # use fastfetch instead
- openjdk-17-jdk
- podman
- powertop         # https://github.com/fenrus75/powertop
- ripgrep
# - snapd
#- terraform
#- tlp             # https://github.com/linrunner/TLP
- tree
- vim
- wget
- xclip
- zsh

# snap_packages:
# - { package: auto-cpufreq, classic: no }      # https://github.com/AdnanHodzic/auto-cpufreq
# - { package: docker, classic: no }
# - { package: procs, classic: no }             # https://github.com/dalance/procs
# - { package: superproductivity, classic: no } # https://github.com/johannesjo/super-productivity

flatpak_packages:
- com.visualstudio.code
- io.gitlab.news_flash.NewsFlash # https://flathub.org/apps/io.gitlab.news_flash.NewsFlash (rss reader)
- org.chromium.Chromium
- org.gnome.Solanum              # https://flathub.org/apps/details/org.gnome.Solanum (pomodoro timer)
- org.signal.Signal

git_repos:
- { repo: "https://github.com/zsh-users/zsh-autosuggestions", target_path: ~/.zsh/zsh-autosuggestions }
- { repo: "https://github.com/zsh-users/zsh-syntax-highlighting.git", target_path: ~/.zsh/zsh-syntax-highlighting }
- { repo: "https://github.com/zsh-users/zsh-completions.git", target_path: ~/.zsh/zsh-completions }
- { repo: "https://github.com/romkatv/powerlevel10k.git", target_path: ~/.config/powerlevel10k }
- { repo: "https://github.com/nvim-lua/kickstart.nvim.git", target_path: ~/.config/.nvim }

vim_plugins:
- { plugin_git_source: "https://github.com/itchyny/lightline.vim", plugin_target_path: ~/.vim/pack/plugins/start/lightline }
- { plugin_git_source: "https://github.com/preservim/nerdtree.git", plugin_target_path: ~/.vim/pack/vendor/start/nerdtree }
- { plugin_git_source: "https://github.com/justinmk/vim-sneak.git", plugin_target_path: ~/.vim/pack/plugins/start/vim-sneak }
- { plugin_git_source: "https://github.com/easymotion/vim-easymotion.git", plugin_target_path: ~/.vim/pack/plugins/start/vim-easymotion }
- { plugin_git_source: "https://github.com/NoahTheDuke/vim-just.git", plugin_target_path: ~/.vim/pack/syntax/start/vim-just }

zsh_plugins:
- { plugin_git_source: "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/gh/gh.plugin.zsh", plugin_target_path: ~/.zsh/gh.plugin.zsh }
- { plugin_git_source: "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/lib/history.zsh", plugin_target_path: ~/.zsh/history.zsh }
- { plugin_git_source: "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/z/z.plugin.zsh", plugin_target_path: ~/.zsh/z.plugin.zsh }

# neovim:
#   version: 0.10.2
#   sha256: 9f696e635d503b844e4e78e88a22bcf512a78f288bf471379afc3d0004e15217
